
body {
    background: #F5F5F7;
    color : black;
    font-family : Helvetica Neue, Helvetica, Arial, sans-serif;
    margin : 0;
    padding : 0;
}
header{
    color : black;
    
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: gray; 
  text-decoration: none; /
}
nav{
    /* background: white; */
    /* padding: 0; */
}
ul{
    display: flex;
    margin : 0;
    padding : 0;
    color : red;
}
li{
    display: inline-block;
    font-size : 18px;
    margin : 10px 40px 10px 10px;
}
h1 {/* */
    color: #313126;
    background-color: white;
    /* background : orange; */
    margin : 0px 0px 20px 0px;
    padding : 10px;
}
section{
    color : white;
    display : flex;
}
div{
    
}
button{
    background: rgb(235, 148, 35);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px 20px;
    display: block;
    margin: 0 0 0 0;  
    border-radius: 8px;

}
.container{
    display: flex;
    margin: 0 auto; 
    gap : 20px;
    width: fit-content;
    
}
.box-title,
h2 {
    font-size: 20px;
    font-weight: bold;
    color: #313126; 
    margin : 25px 0px 10px;
  }
.box {
    width: 530px;
    height: 635px;
    background-color: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

#output-box {
    height: 200px;
    margin: 20px auto;
    background-color: white;
    color: black;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.override-box {
    background-color: white;
    width : 900px;
    color: black;
    font-size: 18px;
    margin: 0 auto;
    flex-wrap :wrap;
    padding-left :30px;
    align-items: flex-start;    
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    height : 255px;
}
.override-box input,
.override-box select {
    font-size: 16px;
    width: 140px;
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 4px 8px;       
    border: 1px solid #ccc; 
    box-sizing: border-box;  
}

.next-row {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 10px;  
    gap: 10px;
}
.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.modifier{
    width: 530px;
    height: 635px;
    background-color: #a348af;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
}

.stars {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    max-width: 409px;

}
.star{
    font-size: 24px;
    color: white;
    text-align: cetner;
    cursor: pointer;
    
}

.stars .star:nth-child(5n) {
    margin-right: 15px;
}
 .scrollabletextbox {
    height:100px;
    width:200px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow:scroll;
    
}
.itemImage {
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    align-self: flex-start;
    margin-left : 20px;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    
}
.ArmorStats{
    margin-top: 30px;
    font-size : 16px;
    align-self: flex-start;
    margin-left : 20px;
}
.potential{
    margin-top: 30px;
    font-size : 20px;
    align-self: flex-start;
    margin-left : 20px;
}
.potential .itemStats{
    margin-top: 5px;
    margin-left : 0px;
}
select.dropdown {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    position: absolute;
    background-color: white;
    font-size: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-align: center;
} 
select.pots{
    width : 100px;
    height : 25px;
    display: block;
    margin-bottom: 4px;
}

select.dropdown option {
    font-size: 16px;
    color: black;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.statInput {
    width: 30px;    
    background-color : transparent;
    /* border: none; */
    color : rgb(204, 255, 0);    
    padding: 2px 5px;   
    text-align: center; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    
}
#costChart, #boomChart {
    background-color: white 
}
.chart-container {
    margin-bottom: 40px; 
  }

/* Positioning each dropdown */
.input1 { top: 5px; left: 5px; }
.input2 { top: 110px; left: 5px; }
.input3 { top: 215px; left: 5px; }
.input4 { top: 320px; left: 5px; }
.input5 { top: 425px; left: 5px; }
.input6 { top: 110px; left: 110px; }
.input7 { top: 215px; left: 110px; }
.input8 { top: 320px; left: 110px; }
.input9 { top: 425px; left: 110px; }
.input10 { top: 5px; left: 215px; }
.input11 { top: 110px; left: 215px; }
.input12 { top: 215px; left: 215px; }
.input13 { top: 320px; left: 215px; }
.input14 { top: 425px; left: 215px; }
.input15 { top: 530px; left: 215px; }
.input16 { top: 215px; left: 320px; }
.input17 { top: 320px; left: 320px; }
.input18 { top: 425px; left: 320px; }
.input19 { top: 5px; left: 425px; }
.input20 { top: 110px; left: 425px; }
.input21 { top: 215px; left: 425px; }
.input22 { top: 320px; left: 425px; }
.input23 { top: 425px; left: 425px; }
.input24 { top: 530px; left: 425px; }

